{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<nav class="main-nav">
    {{> "menu-activator-icon"}}
</nav>

{{#if @blog.cover}}<div class='header-cover' style="background-image: url({{@blog.cover}})"></div>{{/if}}

<header class='main' >
    <div class='wrap'>
        {{#if @blog.logo}}<div class='logo'><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a></div>{{/if}}
        <h1><a href='/'>{{@blog.title}}</a></h1>
        <p class='title'>{{@blog.description}}</p>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content home-template" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>