{{!< default}}

<main class="content" role="main">
    <article class="{{post_class}}">

        {{#post}}

            <p class="meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='dddd Do MMMM YYYY'}}</time>
            </p>
            <h1 class="title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post">

                {{#if author}}
                    <section class="author">
                        <h4>{{author.name}}</h4>
                        <p>{{author.bio}}</p>
                    </section>
                {{/if}}

            </footer>

        {{/post}}

    </article>

</main>